<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body mb-5"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Recipe Book</a>
    <button
      [appDropdown]="isMenuDropdownOpen"
      aria-controls="navbarSupportedContent"
      [ariaExpanded]="isMenuDropdownOpen"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      type="button"
      (click)="toggleMenuDropdown()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [appDropdown]="isMenuDropdownOpen"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            ariaCurrentWhenActive="page"
            class="nav-link"
            routerLink="/recipes"
            routerLinkActive="active"
            (click)="closeMenuDropdown()"
          >
            Recipes
          </a>
        </li>
        <li class="nav-item">
          <a
            ariaCurrentWhenActive="page"
            class="nav-link"
            routerLink="/auth"
            routerLinkActive="active"
            (click)="closeMenuDropdown()"
          >
            Authenticate
          </a>
        </li>
        <li class="nav-item">
          <a
            ariaCurrentWhenActive="page"
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            (click)="closeMenuDropdown()"
          >
            Shopping List
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            [appDropdown]="isOptionDropdownOpen"
            [ariaExpanded]="isOptionDropdownOpen"
            class="nav-link dropdown-toggle"
            role="button"
            (click)="toggleDropdown()"
            (clickOutside)="closeOptionDropdown()"
          >
            Options
          </a>
          <ul
            [appDropdown]="isOptionDropdownOpen"
            class="dropdown-menu"
          >
            <li>
              <a
                class="dropdown-item dropdown-option"
                (click)="[
                  saveData(),
                  closeOptionDropdown(),
                  closeMenuDropdown()
                ]"
              >
                Save data
              </a>
            </li>
            <li>
              <a
                class="dropdown-item dropdown-option"
                (click)="[
                  fetchData(),
                  closeOptionDropdown(),
                  closeMenuDropdown()
                ]"
              >
                Fetch data
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
