<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit(shoppingListForm)" #shoppingListForm="ngForm">
      <div class="row">
        <div class="col-sm-5">
          <label for="ingredientInputId" class="form-label">Name</label>
          <input
            id="ingredientInputId"
            class="form-control"
            form
            name="ingredientName"
            [(ngModel)]="ingredientName"
            required
            type="text"
            #ingredientNameField="ngModel"
          >
          <p
            *ngIf="!ingredientNameField.valid && ingredientNameField.touched"
            class="error"
          >
            Field is required!
          </p>
        </div>
        <div class="col-sm-3">
          <label for="ingredientAmountId" class="form-label">Amount</label>
          <input
            id="ingredientAmountId"
            class="form-control"
            min="1"
            max="100"
            name="ingredientAmount"
            [(ngModel)]="ingredientAmount"
            required
            type="number"
            #ingredientAmountField="ngModel"
          >
          <p
            *ngIf="!ingredientAmountField.valid && ingredientAmountField.touched"
            class="error"
          >
            {{ getIngredientAmountErrorMessage(ingredientAmountField) }}
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success me-3"
            [disabled]="!shoppingListForm.valid"
          >
            {{ addButtonTitle }}
          </button>

          <button
            type="button"
            class="btn btn-danger me-3"
            [disabled]="!isInEditMode"
            (click)="deleteIngredient(shoppingListForm)"
          >
            Delete
          </button>

          <button
            type="button"
            class="btn btn-primary"
            (click)="clearIngredient(shoppingListForm)"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
