<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5">
          <label for="ingredientInputId" class="form-label">Name</label>
          <input
            [(ngModel)]="ingredientName"
            type="text"
            class="form-control"
            id="ingredientInputId"
            name="ingredientName"
          >
        </div>
        <div class="col-sm-2">
          <label for="ingredientAmountId" class="form-label">Amount</label>
          <input
            [(ngModel)]="ingredientAmount"
            type="number"
            class="form-control"
            id="ingredientAmountId"
            name="ingredientAmount"
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success me-3"
            [disabled]="isAddButtonDisabled"
            (click)="addIngredient()"
          >
            Add
          </button>

          <button
            type="button"
            class="btn btn-danger me-3"
            (click)="deleteIngredient()"
          >
            Delete
          </button>

          <button
            type="button"
            class="btn btn-primary"
            (click)="clearIngredient()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
