<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5">
          <label for="ingredientInputId" class="form-label">Name</label>
          <input type="text" class="form-control" id="ingredientInputId">
        </div>
        <div class="col-sm-2">
          <label for="ingredientAmountId" class="form-label">Amount</label>
          <input type="number" class="form-control" id="ingredientAmountId">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button type="submit" class="btn btn-success me-3">Add</button>
          <button type="button" class="btn btn-danger me-3">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
