<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" [class]="['img-fluid', 'image']" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Add to shopping list</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Add Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
