<div class="row">
  <div class="col-12">
    <img
      [alt]="recipe.name"
      [class]="['img-fluid', 'image']"
      [src]="recipe.imagePath"
    />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group" role="group">
      <button
        [appDropdown]="isDropdownOpen"
        [ariaExpanded]="isDropdownOpen"
        class="btn btn-primary dropdown-toggle"
        type="button"
        (click)="toggleDropdown()"
        (clickOutside)="closeDropdown()"
      >
        Manage Recipe
      </button>
      <ul
        [appDropdown]="isDropdownOpen"
        [class]="{
          'dropdown-menu': true,
          openDropdown: isDropdownOpen,
        }"
      >
        <li>
          <a
            class="dropdown-item"
            href="#"
            (click)="closeDropdown()"
          >
            Add to shopping list
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            (click)="closeDropdown()"
          >
            Edit Recipe
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#"
            (click)="closeDropdown()"
          >
            Add Recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
