@use '../../../shared/scss/mixins.scss';

.image {
  max-height: 400px;
}

.layout-margin {
  margin-top: 32px;
}

.ng-invalid.ng-touched:not(.form, div) {
  @include mixins.form-field-invalid;
}

.error {
  @include mixins.error-message;
}

.button-mobile {
  @include mixins.mobile-button {
    &:first-of-type {
      margin-bottom: 10px;
    }
  };
}

.add-ingredient-button-mobile {
  @include mixins.mobile-button;
}

.delete-button-mobile.delete-button-mobile {
  @include mixins.mobile-button {
    margin: 0 0 10px;
  };
}
