@use '../../../shared/scss/mixins.scss';

.image {
  max-height: 300px;
}

.openDropdown {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 40px);
}

.recipe-dropdown-item {
  cursor: pointer;
}

.button-mobile {
  @include mixins.mobile-button;
}

.header-mobile {
  @include mixins.mobile-header {
    margin-block: 12px;
  };
}
